{
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": 0,
    "import/no-extraneous-dependencies": 0,
    "jsx-a11y/label-has-for": [2, {
      "components": [ "Label" ],
      "required": {
          "every": [ "id" ]
      }
    }]
  },
  "globals": {
    "jest": true,
    "expect": true,
    "describe": true,
    "beforeEach": true,
    "it": true
  }
}
