{
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": 0,
    "import/no-extraneous-dependencies": 0
  },
  "globals": {
    "jest": true,
    "expect": true,
    "describe": true,
    "it": true
  }
}
