=input()
  display: block
  box-sizing: border-box
  width: 100%
  line-height: $input-height
  border: $input-border-width solid $color-dark-grey
  color: $color-black
  border-radius: $input-border-radius
  padding: $input-padding
  background: $color-white
  font-size: $input-font-size

=out-box()
  width: 100%
  margin: 0
  padding: 0
  background: $color-white
  border-radius: $outbox-border-radius
  border: $outbox-border-size solid $outbox-border-color
  position: absolute

=placeholder($color)
  &::placeholder
    color: $color
    opacity: 1

  &:-ms-input-placeholder
    color: $color

  &::-ms-input-placeholder
    color: $color
