.checkbutton
  & > label
    cursor: pointer

  & input
    display: none

  & .item
    width: 20px
    height: 20px
    position: relative
    background: $color-grey

    &:before, &:after
      content: " "
      background: #FFF
      display: block
      position: absolute
      opacity: 0
      transition: .3s

  & .item, & .label
    display: inline-block
    vertical-align: top

  & .label
    padding: 4px 5px
    line-height: 12px

  &.active
    & .item
      background: $main-theme-color

      &:before, &:after
        opacity: 1
        transition: .3s

    & .label
      color: $color-black

  &.checkbox
    & .item
      border-radius: 5px

      &:before
        width: 7px
        height: 3px
        top: 9px
        left: 4px
        transform: rotateZ(45deg)

      &:after
        width: 10px
        height: 3px
        top: 8px
        left: 7px
        transform: rotateZ(-45deg)

  &.radiobox
    & .item
      border-radius: 50%

      &:before, &:after
        opacity: 1

      &:before
        width: 14px
        height: 14px
        border-radius: 50%
        left: 3px
        top: 3px

      &:after
        background: $color-grey
        width: 8px
        height: 8px
        border-radius: 50%
        left: 6px
        top: 6px
        z-index: 1

    &.active .item:after
      background: $main-theme-color
