.tooltip
  position: relative

  & > *
    transition: 0.3s

  & > .text
    +out-box()
    opacity: 0
    padding: $outbox-padding
    z-index: 2
    left: 0
    display: none

    &.bottom
      top: 200%

    &.top
      bottom: 200%

    &.bottom
      &:after
        content: " "
        top: -10px
        position: absolute
        border-left: 10px solid transparent
        border-right: 10px solid transparent
        border-bottom: 10px solid $color-dark-grey
        z-index: 1

      &:before
        content: " "
        position: absolute
        top: -9px
        border-left: 9px solid transparent
        border-right: 9px solid transparent
        border-bottom: 9px solid #FFF
        z-index: 3

    &.top
      &:after
        content: " "
        bottom: -10px
        position: absolute
        border-left: 10px solid transparent
        border-right: 10px solid transparent
        border-top: 10px solid $color-dark-grey
        z-index: 1

      &:before
        content: " "
        position: absolute
        bottom: -9px
        border-left: 9px solid transparent
        border-right: 9px solid transparent
        border-top: 9px solid #FFF
        z-index: 3

    &.top, &.bottom
      &.start
        &:after
          left: 10px
        &:before
          left: 11px

      &.middle
        &:after
          left: calc(50% - 10px)
        &:before
          left: calc(50% - 9px)

      &.end
        &:after
          right: 10px
        &:before
          right: 11px

  &:hover > .text
    display: block
    opacity: 1
