.tooltip
  position: relative

  & > *
    transition: 0.3s

  & > .text
    +out-box()
    opacity: 0
    padding: $outbox-padding
    z-index: 2

    &.top
      bottom: calc(#{-200%} - 20px)

      &:after
        content: " "
        position: absolute
        top: -10px
        left: 10px
        border-left: 10px solid transparent
        border-right: 10px solid transparent
        border-bottom: 10px solid $color-dark-grey
        z-index: 1

      &:before
        content: " "
        position: absolute
        top: -9px
        left: 11px
        border-left: 9px solid transparent
        border-right: 9px solid transparent
        border-bottom: 9px solid #FFF
        z-index: 3

        &.start

  &:hover > .text
    opacity: 1
